<style type="text/css" >
body{
    font-family: Arial, Verdana, sans-serif;
    font-weight: bold;
}
table {
    /* width: 100%;  */
    border-collapse: collapse;
    border-bottom: 1px solid #000;
}

table th,
table td {
    padding: 5px;
    text-align: left;
    font-family: Arial, Verdana, sans-serif;
    border: 1px solid #000;
    border-bottom:0;
}


table th {
    background-color: #ddd;
    color: #BB0000;
    border-bottom: 2px solid #000;
}

table tr.odd {
    background-color: #DDFFFF;
}

table tr.odd td {
    border-top: 1px solid #ccc;
}

table tr.even {
    background-color: #FBFBFB;
}

table tr.even td {
    border-top: 1px solid #BBEEEE;
}

br {

}
</style>